/* Add application styles & imports to this file! */
h1{
   text-align: center;
   color:black;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
  text-align:left;
    width:500px;
  margin:10px;
}
.descripcion{
  font-weight: bold
}

.encabezado{
 
   text-align: center;
   color:black;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parrrafos{
  width:300px;
  margin:10px;
  display: inline-block;
}
div{
  float:left;
  display: inline-block;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  width: 200px; height: 200px;
}